* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.card[data-state="up"] {
  background-color: green;
}
.card {
  border: 1px solid black;
  padding: 40px 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  background-color: red;
}
